<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{{item.title}}</title>
</head>

<body>

    <header>
        <div class="header-wrap">
            <a class="title" href="/">Catalog App</a>
            <div class="login">
                {% if log_status=="login" %}
                <a class="headerlink" href="/gconnect">Logout</a></div>
                {% else %}
                <a class="headerlink" href="/login">Login</a></div>
                {% endif %}
        </div>
    </header>

    <div class="content">
    <h1>Edit - {{item.title}}</h1>
    <form action="{{ url_for('edit_item',item_id=item.id, shop_name=shop_name)}}" method = 'POST'>
        <h2>New Title:</h2>
          <input id="title" type="text" name='title' placeholder={{item.title}}>
            <h2>Price:</h2>
            <input id="price" type="text" name='price' placeholder={{item.price}}>
            <h2>Discount price:</h2>
            <input id="discount_prince" type="text" name='discount_price' placeholder={{item.discount_price}}>
            <h2>Shop：</h2>
                <select name="shop">
                    {% for i in shops %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select><br>
        <input class="button" type='submit' value='Modify'/>
    </form>
    </div>

</body>
</html>